<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- needs some style repairs to become functional -->
      <div class="navbar-header">
        <a class="navbar-brand navbar-logo" href="/" ng-click="navLinks('Home')">
          <img class="img-fluid logo-thumbnail" alt="Brand" src="images/gtgLogo.png">
        </a>
        <a href="/" class="navbar-brand" ng-click="navLinks('Home')">Got-To-Go</a>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-default navbar-btn" ng-click="navLinks('Form')">Rate</button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="navLinks('List')">Find</button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="navLinks('Focus')">Focus</button>
        <button type="button" class="btn btn-default navbar-btn" ng-click="navLinks('Filter')">Settings</button>
      </div>
    </div>
  </nav>
</header>
