<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- needs some style repairs to become functional -->
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class="img-fluid pull-xs-left" alt="Brand" src="../../images/gtgLogo.png">
        </a>
      </div> -->
      <form class="navbar-form">
        <button class="btn btn-default" ng-click="navLinks('Home')">Home</button>
        <button class="btn btn-default" ng-click="navLinks('Focus')">Focus</button>
        <button class="btn btn-default" ng-click="navLinks('List')">List</button>
        <button class="btn btn-default" ng-click="navLinks('Form')">Form</button>
      </form>
    </div>
  </nav>
</header>
